*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    gap: 1rem; 
    /*maneiras de espacamentos
    justify-content: space-around;* (Espacos da borda)
    justify-content: space-between;*(2 nas pontas e 1 no meio)
    justify-content: space-evenly;
    */
    flex:wrap;
    padding: 1rem;
    justify-content: center;

}
.box{
    background-color: burlywood;
    border: 2px solid goldenrod;
    border-radius: 8px;
    height: 10rem;
}
img{
    width: 9rem;
    height: 9rem;
    object-fit: cover; /*previne a distorcao da imagem*/
    background-repeat: no-repeat;
    border-radius: 8px;
}