.container {
    width: 100%;
    height: 100vh;
    background-color: #201f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

#button {
    width: 6rem;
    background-color: #ff7f50;
    border-radius: 5px;
    color: #ffffff;
    padding: 0.5rem;
    cursor: pointer;
}

#button:hover{
    background-color: blueviolet;
}

#tittle{
    color: #ffffff;
}