.container{
    background-color:aquamarine;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto;
    align-items: center;
}
#botao{
    width: 10%;
    height: 10%;
    background-color: red;
    color: blue;
    padding: auto;
    cursor: pointer;
    border-radius: 100px;
    border-color: green;
    
}
#botao:hover{
    background-color: purple;
}
#titulo{
    background-color: goldenrod;
}