*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    display: flex;
    justify-content: space-between;
    background-color: darkorchid;
    color: white;
    padding-left: 10px;
    
    
    
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-right: 1rem;
    font-size:x-large;
    padding-top: 5px;
}
.meio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.livroicon img {
  display: flex;
  margin: 0 auto; 
  width: 50%;
  height: auto;
}