*{
    margin: 0; /* margem - espacamento pra fora do conteudo*/
    padding: 0; /* padding- espacamento pra dentro do conteudo*/
    box-sizing: border-box;  
    
}
.menu{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: end;
    
}

div {
    background-color: rgb(247, 200, 140);
    width: 50%;
    border-radius: 10px;
   
   
}
p{
    font-size: 1.5rem;
    padding: 20rem;
    
}
 ul{
    list-style: none;
    background-color: blue;
}
nav{
    width: 100%;
    height: 10vh;
    padding: 10px;
}
ol{
    background-color: brown;
}

